@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.content {
    height: 100vh;
    display: grid;
    place-items: center;
}

.content h2 {
    font-size: 50px;
    color: rgb(5, 155, 215);
}

footer {
    padding: 50px 25px;
    background-color: rgb(5, 155, 215);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("bg-pattern.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .container {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

.leftside {
    flex: 1;  /* It will as much as width is possible*/
    margin-right: 25px;
}

.leftside img {
    cursor: pointer;
}

.leftside p {
    margin: 15px 0 30px;
    padding-right: 60px;
}

.socialmedialinks {
    display: flex;
}

.socialmedialinks li {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.socialmedialinks li:not(:last-child) {
    margin-right: 15px;
}

.socialmedialinks li:hover {
    background-color: #111;
}

.socialmedialinks a {
    text-decoration: none;
    color: rgb(5, 155, 215);
    font-size: 20px;
}

.socialmedialinks li:hover a {
    color: #fff;
}

.rightside {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.rightside__links {
    list-style: none;
}

.rightside__links:not(:last-child) {
    margin-right: 25px;
}

.rightside__links h4 {
    color: black;
    font-size: 20px;
}

.rightside__links li {
    margin-top: 20px;
}

.rightside__links a {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

.rightside__links li:hover a{
    color: black;
}

@media (max-width: 1024px) {
    .leftside p, .rightside__links a {
        font-size: 15px;
    } 
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
    }

    .leftside {
        text-align: center;
        margin-right: 0;
    }

    .leftside p {
        padding-right: 0px;
    }

    .socialmedialinks {
        margin: 0 auto;
        justify-content: center;
    }

    .rightside {
        width: 100%;
        margin: 50px 0 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .rightside {
        flex-direction: column;
    }

    .rightside__links:not(:last-child) {
        margin: 0 0 50px 0;
    }
}

@media (max-width: 350px) {
    .socialmedialinks li {
        width: 40px;
        height: 40px;
    }
}